.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
DerivedData/


__pycache__/
*.pyc
